In [ ]:
# Importing all the essential modules
import numpy as np
import pandas as pd

In [ ]:
# Task-1
# Getting all the random values
s1 = pd.Series(np.random.rand(4))
s2 = pd.Series(np.random.rand(4))
s3 = pd.Series(np.random.rand(4))
s4 = pd.Series(np.random.rand(4))
# Creating a dataframe df and add the two series inside of it
df = pd.DataFrame([s1,s2,s3,s4])
df

          0         1         2         3
0  0.470785  0.270758  0.871064  0.114882
1  0.219461  0.339178  0.159891  0.367018
2  0.479955  0.426319  0.823476  0.922288
3  0.111252  0.733775  0.957226  0.255439

In [ ]:
# Task-2
# Renaming the coloumn names
df.columns = ['Random value 1','Random value 2','Random value 3','Random value 4']
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.470785        0.270758        0.871064        0.114882
1        0.219461        0.339178        0.159891        0.367018
2        0.479955        0.426319        0.823476        0.922288
3        0.111252        0.733775        0.957226        0.255439

In [ ]:
# Task-3
# Finding the description of the DataFrame df
df.describe(include='all')

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.320363        0.442508        0.702914        0.414906
std          0.184395        0.204348        0.366223        0.353635
min          0.111252        0.270758        0.159891        0.114882
25%          0.192409        0.322073        0.657579        0.220299
50%          0.345123        0.382749        0.847270        0.311228
75%          0.473077        0.503183        0.892605        0.505835
max          0.479955        0.733775        0.957226        0.922288

In [ ]:
# Task-4
# Including a row with null value
df.loc[4] = [0.185343,np.nan,0.222713,np.nan]
# Finding all the null values
print("Null Table")
print(df.isnull())
print("\nNull Description")
print(df.isnull().sum())
# Finding the datatype of the columns
print("\nDatatypes of columns")
print("Random value 1 -",df['Random value 1'].dtype)
print("Random value 2 -",df['Random value 2'].dtype)
print("Random value 3 -",df['Random value 3'].dtype)
print("Random value 4 -",df['Random value 4'].dtype)

Null Table
   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False
4           False            True           False            True

Null Description
Random value 1    0
Random value 2    1
Random value 3    0
Random value 4    1
dtype: int64

Datatypes of columns
Random value 1 - float64
Random value 2 - float64
Random value 3 - float64
Random value 4 - float64

In [ ]:
# Task-5
# Displaying with the help of location method
print("Using loc method")
print(df.loc[0:,'Random value 2':'Random value 3'])
# Displaying with the help of index location method
print("\nUsing iloc method")
print(df.iloc[0:,1:3])

Using loc method
   Random value 2  Random value 3
0        0.270758        0.871064
1        0.339178        0.159891
2        0.426319        0.823476
3        0.733775        0.957226
4             NaN        0.222713

Using iloc method
   Random value 2  Random value 3
0        0.270758        0.871064
1        0.339178        0.159891
2        0.426319        0.823476
3        0.733775        0.957226
4             NaN        0.222713